.xop-section {
    max-width:960px;
    margin:0 auto;
    padding:6% 2%;
}

.xop-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.xop-grid:after {
    clear: both;
}

.xop-grid:after,
.xop-box:before {
    content: '';
    display: table;
}

.xop-grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
}

.xop-box {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.xop-box:hover {
    transform: scale(1.05);
}

.xop-img-1 {background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/hoplabox.png);
}

.xop-img-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/123.png);
}

.xop-img-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/hoplabox-kopi.png);
}

.xop-img-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/waterworldbox.png);
}

.xop-info {
    position: absolute;
    width: inherit;
    height: inherit;
}

.xop-info h3 {
    font-family: "Helvetica Neue LT Pro";
    font-weight: 400;
    color: #fff;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height:1.5;
}

.nav-container {
    width: 100%;
    background: transparent;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h2 {
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}

h1	{
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}

p {
    padding: 20px;
    text-align: justify;
    padding-bottom: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

.right-menu a {
    padding: 10px 0;
    margin-left: 15px;
    margin-right: 50px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.logo {
    font-size: 30px;
    padding: 1rem;
    font-weight: bold;
    padding-left: 30px;
}

.billeder {
    width: 100%
}

.burgerimg {
    width: 60%
}

nav a:hover {
    color: #48B6E4;
}


.footer {
    position: fixed;
    padding: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}

/* -- GENEREL STYLING -- */




/* -- MENU / NAVBAR -- */

nav {
    max-width: 1720px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pics {
    grid-column: 2;
    padding: 1rem;
    display: flex; justify-content:space-around;
}

.right-menu {
    grid-column: 2/4;
    align-self: center;
    text-align: right;
    word-wrap: normal;
}

.logo {
    grid-column: 1;
    align-self: center;
    grid-row: 1;
}

#nav-toggle, .burger-menu {
    display: none;
}

.burger-menu {
    grid-column: 3;
    align-self: center;
    margin-right: 20px;
}

span.navigationSpace {
    margin-left: 50px;
}

/* -- MENU / NAVBAR -- */



/* -- GRID OBJEKTER -- */



/* -- GRID OBJEKTER -- */



/* -- SOCIALE MEDIE KNAPPER -- */

.socialmedias {
    text-align: center;
    grid-column: 1/4;
    grid-row: 4;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.fa {
    padding: 50px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook-f {
    color: black;
    margin: 20px;
    font-size: 22px;

}

.fa-instagram{
    color: black;
    margin: 20px;
    font-size: 22px;
}

.fa-twitter {
    color: black;
    margin: 20px;
    font-size: 22px;
}

.fa-snapchat-ghost {
    color: black;
    margin: 22px;
    font-size: 22px;
}

/* -- SOCIALE MEDIE KNAPPER -- */








