@font-face {
    src: url("../../fonts/Karlo's Video Archives Font.ttf");
    font-family: overskrift;
}
@font-face {
    src: url("../../fonts/HelveticaNowDisplay-Medium.ttf");
    font-family: brødtekst;
}

.xop-section {
    max-width:960px;
    margin:0 auto;
    padding: 20px;
}

.xop-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.xop-grid:after {
    clear: both;
}

.xop-grid:after,
.xop-box:before {
    content: '';
    display: table;
}

.xop-grid li {
    width: 100%;
    max-width: 350px;
    height: 350px;
    display: inline-block;
    padding: 5px;
}

.xop-box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}


.xop-img-1 {background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/Hoplabox.png);
}

.xop-img-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/Nyklanbox.png);
}

.xop-img-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/Hopla2box.png);
}

.xop-img-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/Waterworldbox.png);
}
.xop-img-5{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../img/T.png);
}

.xop-info {
    position: absolute;
    width: inherit;
    height: inherit;
}

.xop-info h3 {
    font-family: "overskrift";
    font-weight: 400;
    color: #fff;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height:1.5;
}

.nav-container {
    width: 100%;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: "brødtekst";
}

.footer {
    position: fixed;
    padding: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}

/* -- GENEREL STYLING -- */



/* -- MENU / NAVBAR -- */

nav {
    max-width: 1720px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pics {
    grid-column: 2;
    padding: 1rem;
    display: flex; justify-content:space-around;
}

.right-menu {
    grid-column: 2/4;
    align-self: center;
    text-align: right;
    word-wrap: normal;
}

.logo {
    grid-column: 1;
    align-self: center;
    grid-row: 1;
}

#nav-toggle, .burger-menu {
    display: none;
}

.burger-menu {
    grid-column: 3;
    align-self: center;
    margin-right: 20px;
}

span.navigationSpace {
    margin-left: 50px;
}

/* -- MENU / NAVBAR -- */



/* -- GRID OBJEKTER -- */



/* -- GRID OBJEKTER -- */



/* -- SOCIALE MEDIE KNAPPER -- */

.socialmedias {
    text-align: center;
    grid-column: 1/4;
    grid-row: 4;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.fa {
    padding: 50px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook-f {
    color: black;
    margin: 20px;
    font-size: 22px;

}

.fa-instagram{
    color: black;
    margin: 20px;
    font-size: 22px;
}

.fa-twitter {
    color: black;
    margin: 20px;
    font-size: 22px;
}

.fa-snapchat-ghost {
    color: black;
    margin: 22px;
    font-size: 22px;
}

/* -- SOCIALE MEDIE KNAPPER -- */

.headerText1{
    text-align: center;
    font-size: 30px;
    font-family: "Overskrift";
}


.text1{
    font-size: 16px;
    font-family: "brødtekst";
    text-align: center;
}

.text2{
    font-size: 16px;
    font-family: "brødtekst";
}

.headerText3{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: "brødtekst";
}

.headerText2{
    text-align: center;
    font-size: 30px;
    font-family: "brødtekst";
}


.text3{
    font-size: 16px;
    font-family: "brødtekst";

}

.text4{
    font-size: 16px;
    font-family: "brødtekst";
}




.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 15%;
}
.banner tekst{
    position: relative;
    line-height: 50px;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.banner .tekst h1{
    margin: 0;
    padding: 0;
    font-size: 75px;
    font-family: "overskrift";
    color: black;
    text-align: center;
}
.banner .tekst p{
    font-size: 35px;
    font-family: "overskrift";
    color: black;
    text-align: center;
    margin-top:0  ;
}
a{
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: center;
}
.main2{
    display: flex;
    justify-content: center;
}

.sektion1{
    width: 10%;
}
.sektion2{
    width: 10%;
}


@media screen and (min-width: 375px){
    .sektion1{
        width: 80%;
    }
    .text2{
        text-align: center;
    }
    .sektion2{
        width: 80%;
    }
    .text3{
        text-align: center;
    }
    .xop-grid li{
        max-width: 300px;
        height: 300px;
    }
}
@media screen and (min-width: 768px ) {
    .sektion1{
        width: 40%;
    }
    .headerText1{
        text-align: center;
    }
    .text2{
        text-align: center;
    }
    .sektion2{
        width: 45%;
    }

    .xop-grid li{
        max-width: 328px;
        height: 328px;
    }
}
@media screen and (min-width: 1200px ) {
    .sektion1{
        width: 40%;
    }
    .headerText1{
        text-align: center;
    }
    .text2{
        text-align: center;
    }
    .sektion2{
        width: 45%;
    }

    .xop-grid li{
        max-width: 400px;
        height: 400px;
    }
}