
.main #link2{
    margin-left: 15%;
}
#link2 a {
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

}
.socialmedias {
    text-align: center;
    grid-column: 1/4;
    grid-row: 4;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.fa {
    padding: 50px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook-f {
    color: black;
    margin: 20px;
    font-size: 22px;

}

.fa-instagram{
    color: black;
    margin: 20px;
    font-size: 22px;
}

.fa-twitter {
    color: black;
    margin: 20px;
    font-size: 22px;
}

.fa-snapchat-ghost {
    color: black;
    margin: 22px;
    font-size: 22px;
}

/* -- SOCIALE MEDIE KNAPPER -- */


/* -- SCALING / RESPONSIVE -- */
@media screen and (max-width: 940px){
    .burger-menu {
        display: inline-block;
        grid-column: 4;
    }

    .right-menu {
        display: none;
        grid-column: 1;
        padding-bottom: 10px;
        text-align: left;
        margin-left: 16px;
    }

    span.navigationSpace2 {
        margin-left: 50px;
    }

    #nav-toggle:checked ~ .right-menu {
        display: grid;
        grid-row: 2;
    }

    .billeder {
        width: 100%;
    }

    .two {
        grid-row: 3;
        grid-column: 1/4;
    }

    .one {
        grid-column: 1/4;
        grid-row: 1;
        width: 100%;
    }

    .three {
        grid-column: 1/4;
        grid-row: 2;
    }

    .logo {
        font-size: 20px;
        grid-column: 1/3;
    }
}
.headerText1{
    text-align: left;
    font-size: 22px;
    font-family: Poppins;
    font-weight: bold;
    padding-left: 15%;
}


p{
    font-size: 16px;
    width: 67%;
    font-family: Poppins;
}

.text1{
    text-align: left;
    font-size: 16px;
    padding-left: 15%;
}
.sektion1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../image/hopla.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
}
.nav-container {
    width: 100%;
    background: transparent;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    font-size: 40px;
    padding: 1rem;
    font-weight: bold;
    padding-left: 30px;
    font-family: Poppins;
    font-weight: bold;
}

.footer {
    position: relative;
    width: 100%;
}


/* -- GENEREL STYLING -- /



/ -- MENU / NAVBAR -- */

nav {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    grid-column: 2;
    text-align: center;
    grid-row: 1;
}




